@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body {
    background-color: #182033;
    color: #FABF86;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
    color: #FABF86;
}
a:hover {
    color: #F58F29;
    text-decoration: underline;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler:focus {
    outline: none;
}  

.poster {
    width: 33%;
}